.header img {
  height: 530px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
img {
  height: 330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
h1 {
color: cornflowerblue;
text-align: center;
}
#HomeNav {
  text-align: center;
}
body {
  Background-image: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}
